  .body {
    font-family: Arial, sans-serif; 
    background-color: #f7f6f6;
    color: #b8bb11; 
    margin: 0; 
    padding: 0; 
    text-align: left; 
    align-items:center;
  
  }


  .container {
   
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .titulo{
    display: flex;
    background-color: rgb(231, 231, 4);
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%; 
    height: 90px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f00; /* Color de texto rojo */
    font-size: 50px; /* Tamaño del texto */
  }
  
  .nav {
    display: flex;
    margin-top: 16px;
    list-style: none;
    padding-left: 0px;
    background-color: rgb(43, 10, 233);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 60px;
    margin: 0 auto;
    width: 80%;
    
  }
  

  .nav_item { 
    display: inline-block;

  }
  
  .nav_item a {
    color: rgb(138, 10, 10);
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;

  }

  .nav_item li {
    margin-right: 20px;
  }

  .nav_item a:hover {
    color: green;
    background-color: rgb(233, 149, 121);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8),
                0 0 10px rgba(255, 0, 0, 0.8),
                0 0 15px rgba(255, 0, 0, 0.8);
  }

  .nav_item a:active {
    color: red;
  }
  .nav_item a::after    {
    content: " | ";
    color: #333; 
  }

  .article {
    color: rgb(5, 0, 0);
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    text-align: center;

  }

  .Regiones {
    color: rgb(236, 11, 11);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    text-align: center;
  }

  .Ingredientes {
    color: rgb(236, 11, 11);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    text-align: center;
  }

  .section-ingredientes {
    text-align: left;
    margin: 0 auto; 
    max-width: 400px; 
    padding: 0 auto; 
    
  }
  
  .Modo-preparacion{
    color: rgb(236, 11, 11);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    text-align: center;
  }
  .section-modo-preparacion {
    text-align: left;
    margin: 0 auto; 
    max-width: 400px; 
    padding: 0 auto;
  }

  .imgtodos{
    width: 500px;
    height: 400px;
  }

  
  footer {
    background-color: rgb(100, 114, 177);
    color: rgb(8, 8, 8); 
    padding: 20px; 
    text-align: center; 
}